services:
  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  orders-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ordersdb
    ports:
      - "5433:5432"
    volumes:
      - orders_data:/var/lib/postgresql/data
      - ./db/orders:/docker-entrypoint-initdb.d

  payments-db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: paymentsdb
    ports:
      - "5434:5432"
    volumes:
      - payments_data:/var/lib/postgresql/data
      - ./db/payments:/docker-entrypoint-initdb.d

  orders:
    build:
      context: .
      dockerfile: OrdersService/OrdersService.AppHost/Dockerfile
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__Db: "Host=orders-db;Port=5432;Database=ordersdb;Username=postgres;Password=postgres"
      RabbitMq__Host: "rabbitmq"
      RabbitMq__Port: "5672"
      RabbitMq__Username: "guest"
      RabbitMq__Password: "guest"
      RabbitMq__Exchange: "kpo.events"
      RabbitMq__QueuePaymentResult: "orders.payment_result"
      RabbitMq__RoutingPaymentRequested: "payments.requested"
      RabbitMq__RoutingPaymentResult: "payments.result"
    depends_on:
      - orders-db
      - rabbitmq
    ports:
      - "8081:8080"

  payments:
    build:
      context: .
      dockerfile: PaymentsService/PaymentsService.AppHost/Dockerfile
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__Db: "Host=payments-db;Port=5432;Database=paymentsdb;Username=postgres;Password=postgres"
      RabbitMq__Host: "rabbitmq"
      RabbitMq__Port: "5672"
      RabbitMq__Username: "guest"
      RabbitMq__Password: "guest"
      RabbitMq__Exchange: "kpo.events"
      RabbitMq__QueuePaymentRequested: "payments.payment_requested"
      RabbitMq__QueuePaymentResult: "orders.payment_result"
      RabbitMq__RoutingPaymentRequested: "payments.requested"
      RabbitMq__RoutingPaymentResult: "payments.result"
    depends_on:
      - payments-db
      - rabbitmq
    ports:
      - "8082:8080"

  gateway:
    build:
      context: .
      dockerfile: ApiGateway/ApiGateway.AppHost/Dockerfile
    environment:
      ASPNETCORE_URLS: "http://+:8080"
      ReverseProxy__Clusters__ordersCluster__Destinations__d1__Address: "http://orders:8080/"
      ReverseProxy__Clusters__paymentsCluster__Destinations__d1__Address: "http://payments:8080/"
    depends_on:
      - orders
      - payments
    ports:
      - "8080:8080"

volumes:
  orders_data:
  payments_data:
